.mainContainer {
  height: 100vh;
  margin-top: 70px;
  margin-left: 150px;
  margin-right: 130px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 25fr 25fr;
  gap: 1rem;
}
